<div class="mb-2">
    <div *ngIf="title != ''">
        <h3 class="text-lg font-semibold py-1" translate="{{ title }}"></h3>
    </div>
    <div #scrollElement class="flex mx-auto overflow-auto scrollbar-hide items-center" (mousedown)="mouseDown = true; treeshold = 10" (mousemove)="onMouseMove($event)">
        <div class="w-8 sm:w-12 h-36 sm:h-[216px] flex-shrink-0 bg-gradient-to-r from-transparent to-slate-700/40 rounded-l-lg" style="margin-right: 0.5rem;"></div>
        <app-mediacard class="w-32 sm:w-40 flex-shrink-0" *ngFor="let movie of medias" [media]="movie" [isDisabled]="treeshold==0"></app-mediacard> 
        <div class="w-8 sm:w-12 h-36 sm:h-[216px] flex-shrink-0 bg-gradient-to-l from-transparent to-slate-700/40 rounded-r-lg" style="margin-left: 0.5rem;"></div>
    </div>
</div>
