 <!-- In Progress -->
<app-library-row-medias @openClose *ngIf="showContinueWatching && inProgressTVShows.length > 0" [title]="'library.continueToWatch'" [medias]="inProgressTVShows"></app-library-row-medias>

<!-- Recently added -->
<app-library-row-medias @openClose *ngIf="showRecentlyAdded && recentlyAddedTVShows.length > 0" [title]="'library.recentlyAdded'" [medias]="recentlyAddedTVShows"></app-library-row-medias>

<!-- Unwatched -->
<app-library-row-medias @openClose *ngIf="showUnwatched && unwatchedTVShows.length > 0" [title]="'library.unwatched'" [medias]="unwatchedTVShows"></app-library-row-medias>

<!-- All TV Shows -->
<div @openClose *ngIf="tvShows.length > 0" class="mt-4 mb-4">
    <div class="flex justify-between items-center mb-2">
        <h3 class="text-lg font-semibold" translate="library.tvshows"></h3>
        <div class="relative z-50">
            <button class="text-sm text-gray-400 hover:text-white group relative whitespace-nowrap">     
                {{ 'library.sortBy.sortBy' | translate}}<fa-icon [icon]="['fas', 'sort']" class="ml-2"></fa-icon>
                <div class="floating-button-bottom-right pointer-group-button">
                    <div class="floating-list">
                        <button (click)="changeSort(sort.value)" [ngClass]="{'floating-button-active': currentSort == sort.value}"  *ngFor="let sort of sortby | keyvalue" class="floating-button" translate="">
                            library.sortBy.{{ sort.key }}
                        </button>          
                    </div>
                </div>   
            </button>
        </div>
    </div>
    <div *ngIf="!isLoadingTVShows" @fastFadeAnimation class="flex flex-wrap justify-center">
        <app-mediacard *ngFor="let tvShow of tvShows" class="w-32 sm:w-40" [media]="tvShow"></app-mediacard>
    </div>
    <div *ngIf="isLoadingMore" class="flex justify-center py-4">
        <fa-icon [icon]="['fas', 'circle-notch']" [spin]="true" class="text-primary text-2xl"></fa-icon>
    </div>
</div>