<div class="hidden sm:block fixed w-screen top-0 z-30">
    <div class="bg-one-dark-menu border-b border-one-dark-hover">
        <div class="grid grid-cols-[auto_minmax(0,1fr)_auto] h-14 relative w-11/12 m-auto items-center">
            <div class="flex items-center space-x-6 h-full text-base font-semibold justify-self-start">
                <a *ngIf="showMoviesSection" [ngClass]="{'text-primary': isRoute('movie')}" routerLink="/movies" class="header-button hover:opacity-100 px-2 py-1 rounded hover:bg-one-dark-hover hover:text-primary transition-colors duration-200">MOVIES</a>
                <a *ngIf="showTVSection" [ngClass]="{'text-primary': isRoute('tvshow')}" routerLink="/tvshows" class="header-button hover:opacity-100 px-2 py-1 rounded hover:bg-one-dark-hover hover:text-primary transition-colors duration-200">TV</a>
                <a *ngIf="showMusicSection" [ngClass]="{'text-primary': isRoute('music')}" routerLink="/musics" class="header-button hover:opacity-100 px-2 py-1 rounded hover:bg-one-dark-hover hover:text-primary transition-colors duration-200">MUSIC</a>
            </div>

            <div class="justify-self-center w-full max-w-4xl px-4">
                <app-searchbar class="block w-full"></app-searchbar>
            </div>

            <div class="flex items-center justify-end space-x-6 justify-self-end">
                <button (click)="openPlayer()" [ngClass]="{'text-primary': application.showPlayer}" class="hidden sm:block header-button text-lg"><fa-icon [icon]="['fas', 'play-circle']" class="toggle-player"></fa-icon></button>
                <a (click)="openRemote()" class="header-button text-lg"><fa-icon [icon]="['fas', 'mobile-alt']"></fa-icon></a>
                <a [ngClass]="{'text-primary': isRoute('settings')}" routerLink="/settings" class="header-button text-lg"><fa-icon [icon]="['fas', 'cog']"></fa-icon></a>
            </div>
        </div>
    </div>
    
    <app-movies-menu [items]="menuItems" [searchPageButton]="false" *ngIf="showMenu"></app-movies-menu>
    
    <div *ngIf="application.showPlayer" @openClose class="bg-dark-gray border-b border-one-dark-hover">
        <app-player class="block w-full"></app-player>
    </div>
</div>

<div class="sm:hidden fixed w-screen top-0 z-40 bg-one-dark-menu border-b border-one-dark-hover">
    <div class="px-2 py-2">
        <div class="max-w-2xl mx-auto">
            <app-searchbar class="block w-full"></app-searchbar>
        </div>
    </div>
    <app-movies-menu [items]="menuItems" [searchPageButton]="false" *ngIf="showMenu"></app-movies-menu>
    <div *ngIf="application.showPlayer" @openClose class="bg-dark-gray">
        <app-player class="block w-full"></app-player>
    </div>
</div>

<div class="h-14 sm:h-14" id="header-spacer"></div>
<div *ngIf="showMenu" class="h-10 sm:h-10"></div>
<div *ngIf="application.showPlayer" class="player-height-spacer"></div>

<div class="sm:hidden w-full bg-one-dark-menu bottom-0 fixed z-30 border-t border-one-dark-hover">
    <div class="flex items-center text-xl py-3 px-2">
        <div *ngIf="showMoviesSection" class="w-full text-center z-10">
            <fa-icon [ngClass]="{'text-primary': isRoute('movie')}" routerLink="/movies" class="header-button" [icon]="['fas', 'film']"></fa-icon>
        </div>
        <div *ngIf="showTVSection" class="w-full text-center z-10">
            <fa-icon [ngClass]="{'text-primary': isRoute('tvshow')}" routerLink="/tvshows" class="header-button" [icon]="['fas', 'tv']"></fa-icon>
        </div>
        <div *ngIf="showMusicSection" class="w-full text-center z-10">
            <fa-icon [ngClass]="{'text-primary': isRoute('music')}" routerLink="/musics" class="header-button" [icon]="['fas', 'music']"></fa-icon>
        </div>

        <div class="w-full">
            <div class="w-full absolute text-center left-0 bottom-3">
                <div *ngIf="!player.isAvailable()" (click)="openRemote()" class="rounded-full h-12 w-12 m-auto flex items-center justify-center text-gray-500 hover:text-one-dark-menu bg-white hover:bg-primary transition-colors duration-200 cursor-pointer ">
                    <fa-icon [icon]="['fas', 'mobile-alt']"></fa-icon>
                </div>
                <div *ngIf="player.isAvailable()" (click)="openPlayer()" class="rounded-full h-12 w-12 m-auto flex items-center justify-center text-gray-500 hover:text-one-dark-menu bg-white hover:bg-primary transition-colors duration-200 cursor-pointer ">
                    <fa-icon [icon]="['fas', 'play-circle']" class="toggle-player"></fa-icon>
                </div>
            </div>
        </div>

        <button class="w-full text-center z-10 group relative">     
            <fa-icon class="header-button" [icon]="['fas', 'bars']"></fa-icon>
            <div class="floating-button-top-right pointer-group-button">
                <div class="floating-list">
                    <button class="floating-button" *ngIf="player.isAvailable()" (click)="openRemote()" translate="">
                        header.remote
                    </button>
                    <a [ngClass]="{'text-primary': isRoute('settings')}" routerLink="/settings" class="floating-button" translate="">
                        header.settings
                    </a>                
                </div>
            </div>   
        </button>  
    </div>
</div>
