<button class="p-1 sm:p-2 border-0" (click)="openDetails()" style="width:inherit">
    <div class="select-none">
        <div class="relative opacity-90 w-full h-36 sm:h-[216px]" [ngClass]="{'bg-one-dark-menu hover:bg-one-dark-hover' : posterUrl == '' && isImgLoaded}">
          <div [ngClass]="{'image-placeholder': !isImgLoaded}" class="w-full h-full">
            <img *ngIf="posterLoaded" [ngClass]="{'border-b border-primary' : displayResume && isImgLoaded}" [src]="posterUrl" (load)="imageLoaded()" class="w-full h-full object-cover" loading="lazy"/>
          </div>

            <div [ngClass]="{'opacity-0': posterUrl != '' || !isImgLoaded, 'bg-dark-full' : !(posterUrl == '' && isImgLoaded)}" class="cursor-pointer absolute z-0 flex flex-col align-bottom  bottom-0 bg-opacity-70 hover:opacity-100 transition-opacity duration-300 text-white font-semibold px-3 py-1 h-full w-full items-center justify-center text-center text-shadow-xl overflow-auto scrollbar-hide">
                <p class="">
                    {{ $any(media).title ?? $any(media).artist ?? $any(media).name ?? $any(media) ?? "" }}
                </p>
                <p *ngIf="$any(media).role" class="mt-4 font-bold">
                    {{ $any(media).role }}
                </p>
            </div>
                     
            <div *ngIf="displayResume && isImgLoaded" [ngStyle]="{'width':resume + '%'}" class="border-b-2 border-dark-full h-8 absolute right-0" style="border-bottom-width: 2px;bottom: -0.5px;"></div>
        </div>       
    </div>
</button>
